* > * {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.logo1 {
  text-align: left;
  color: #000;
}

.logo2 {
  text-align: left;
  color: #fca311;
}

.cont-reg-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  background: #290c14; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c40eaf, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.register-form {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: white;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.right-reg {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url(https://img.freepik.com/vector-gratis/composicion-cine-isometrica-plataformas-forma-telefono-inteligente-e-interiores-salas-cine-pantallas-muebles-e-ilustracion-personas_1284-60276.jpg?w=1380&t=st=1657799754~exp=1657800354~hmac=fdf41d01a4cb0b8b72d4cbfdadbb7300d79601f42d1e3c7400aba9e6c96680ed);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: left;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #4f46a5;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #fca311 0%, #4f46a5 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.register-form .left {
  margin: auto;
  padding: 3em 0;
}

.register-form .right img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px) {
  .register-form .col-2 img {
    display: initial;
  }
}
