.Categorias {
  background-color: rgb(30, 30, 30);
  /* background-color: rgb(31, 30, 30); */
  color: white;
  font-size: 30px;
  font-weight: bold; 
  padding: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.CategoryMovie {
  background-color: rgb(48, 47, 47);
  /* background-color: white; */
  /* background: linear-gradient(#fca311, rgb(30, 30, 30, 0.3) 97%); */
  padding: 20px;
  display: flex;
  justify-content: center;
 
}
