.Categorias {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 20px;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.CategoryMovie {
  display: flex;
  flex-direction: center;
  justify-content: center;
}
