/* body{
  background-color: #010408;
} */

.nav {
  background-color: #e4e4e4;
  transition: all 1s ease-in-out;
  display: flex;
  align-content: center;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 100;
  position: fixed;
}

.nav-2 {
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 15%;
}

.container {
  width: 100%;
  padding-top: 20px;
  background-color: transparent;
}

/* .container .logo{ 
    width: 30vh;
    height: 10vh;
    margin-left: 10vh;
    font-size: 40px;
    transform: translate(5px,15px);
    
} */

.container_logo {
  /* border: 1px solid blue; */
  margin-left: 2vh;
}

.container .logo1 {
  color: #000;
}

.container .logo2 {
  color: #fca311;
}

.lista {
  /* border: 1px solid red; */
  height: 5vh;
  width: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 20vh;
  list-style: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
}

.lista a {
  text-decoration: none;
}

.lista a:hover {
  /* padding: 5px 10px; */
  /* background-color: white; */
  color: black;
  list-style: none;
  text-decoration: none;
  color: #000;

  /* border-radius: 15px; */
}

.container_search {
  margin-left: 20vh;
}

.container_search input {
  outline: none;
  border: 0px;
  border-radius: 0px;
  border: 0.5px solid #ccc;
  background-color: transparent;
  color: black;
  outline: none;
}

.container_button {
  margin-left: 3vh;
}
.button {
  width: 10vh;
  height: 4vh;
  border: none;
  background-color: #fca311;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #14213d;
  color: white;
  transition: all 0.5s ease-in-out;
}
