.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.spacing {
  margin-right: 20px;
}
.box {
  min-width: 30%;
}
.openForm {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}
.centerPaper {
  width: 100%;
  margin-left: 25%;
}

.createMovies {
  width: 60vh;
  min-height: 50vh;
  padding: 20px;
  margin-top: 5vh;
  margin-left: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.movieContainer {
  position: sticky;
  top: 110px;
  min-width: 60vw;
  height: 80vh;
  padding: 20px;
  margin-top: 5vh;
  margin-left: 10vh;
  justify-content: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titles {
  font-size: 1, 5vh;
  margin-bottom: 10px;
  color: rgb(126, 126, 126);
  text-decoration: underline;
}
.datePicker {
  border: none;
  color: rgb(126, 126, 126);
}
.centerDatePickers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.titleDashboard {
  font-size: 2.5vh;
  font-weight: bold;
}

.buttonCreate {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.containserSelects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
}

.selects {
  margin-bottom: 10px;
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
