.createMovies{
    width: 60vh;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 2%;
    margin-top: 10vh;

    border-radius: 2px;
    box-shadow: 0 0 10px #ccc;
}
.spanTitle{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ratingAndruntimeDiv{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.margin{
    margin: 3%;
}